@font-face {
    font-family: "Noto Sans";
    src: url("./materials/Noto_Sans/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "Noto Sans";
    src: url("./materials/Noto_Sans/NotoSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Noto Sans";
    src: url("./materials/Noto_Sans/NotoSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Noto Sans";
    src: url("./materials/Noto_Sans/NotoSans-Italic.ttf");
    font-style: italic;
}

:root {
    --task-container-bg-color: #F1F1F1;
    --primary-color: #0B174D;
    --secondary-color: #A3B5DA;
    --terciary-color: #5E739C;
    --task-item-bg-color: white;
    --task-priority-low: green;
    --task-priority-medium: yellow;
    --task-priority-high: red;
    --filter-white: brightness(0) invert(1);
    --filter-red: brightness(0) saturate(100%) invert(17%) sepia(96%) saturate(6502%) hue-rotate(358deg) brightness(111%) contrast(118%);
    --filter-yellow: brightness(0) saturate(100%) invert(74%) sepia(64%) saturate(592%) hue-rotate(356deg) brightness(95%) contrast(101%);
    --filter-light-blue: brightness(0) saturate(100%) invert(54%) sepia(66%) saturate(4169%) hue-rotate(195deg) brightness(93%) contrast(91%);
    --sidebar-transition-duration: 0.2s;

}   

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Noto Sans", Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
}

header {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

h1 {
    color: white;
}

.content {
    display: flex;
    font-size: 0;
    position: relative;
}

.project-list-container {
    display: inline-block;
    background-color: var(--secondary-color);
    height: 100%;
    width: 25%;
    overflow: auto;
    font-size: 1rem;
    transition: width var(--sidebar-transition-duration);
}

.project-list-container-title {
    margin: 1rem 0 1rem 1rem;
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0 1rem;
}

.project-list-button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 0.6rem;
    background-color: var(--secondary-color);
    border: none;
    font-size: inherit;
    width: 100%;
    text-align: start;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.2s;
}

.project-list-button--new-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

.project-list-button:hover {
    background-color: var(--terciary-color);
    cursor: pointer;
}

.task-container {
    display: inline-block;
    width: 75%;
    height: 100%;
    background-color: var(--task-container-bg-color);
    padding: 1rem;
    overflow: auto;
    font-size: 1rem;
    transition: width var(--sidebar-transition-duration);
}

.task-container-title {
    text-align: center;
}

.project-container {
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.project-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.project-title {
    font-size: 1.4rem;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.project-buttons {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0.6rem 2rem;
    border-radius: 10px;
}

.button--primary {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0.4rem 1rem;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 1rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-wrap: nowrap;
    transition: background-color 0.2s;

}

.button--primary:hover {
    background-color: var(--terciary-color);
    cursor: pointer;
}

.task-list {
    list-style: none;
    margin-bottom: 3rem;
    padding: 1rem;
}

.task-item {
    padding: 0.5rem 2rem;
    background-color: var(--task-item-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.is-done {
    margin-right: 1rem;
    cursor: pointer;
}

.task-title {
    display: inline-block;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-title--done {
    text-decoration-line: line-through;
}

.due-date {
    margin: 0 0.5rem;
}

.view-more-icon {
    width: 1.4rem;
    height: 1.4rem;
    background-image: url("materials/icons8-eye-96.png");
    background-size: cover;
    display: inline-block;

}

.view-more-icon:hover {
    filter: var(--filter-light-blue);
    cursor: pointer;
}

.add-icon {
    width: 1.4rem;
    height: 1.4rem;
    background-image: url("materials/icons8-add-100.png");
    background-size: cover;
    display: inline-block;
}

.edit-icon {
    width: 1.4rem;
    height: 1.4rem;
    background-image: url("materials/icons8-create-96.png");
    background-size: cover;
    display: inline-block;
}

.edit-icon:hover {
    filter: var(--filter-yellow);
    cursor: pointer;
}

.delete-icon {
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("materials/icons8-delete.svg");
    background-size: cover;
    display: inline-block;
}

.delete-icon--no-hover {
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("materials/icons8-delete.svg");
    background-size: cover;
    margin: 0 0.5rem;
    display: inline-block;
}

.delete-icon:hover {
    filter: var(--filter-red);
    cursor: pointer;
}

.project-list-toggle-button {
    border: none;
    border-radius: 5px;
    line-height: 0;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    position: absolute;
    left: 2rem;
    cursor: pointer;
    
}

.menu-icon {
    background-image: url("materials/icons8-menu-50.png");
    background-size: cover;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

.white-icon {
    filter: var(--filter-white);
    margin-left: 0.5rem;
}

.icon-container {
    padding: 0;
    border: none;
    height: fit-content;
    line-height: 0;
    background-color: transparent;
    margin: 0 0.2rem;
}

.new-project-menu-toggle {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
}

.new-project-menu-toggle-text {
    flex: 1;
}

.window {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    padding: 1rem 3rem;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.window input {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0.2rem;
    font-size: 1rem;
}

.window input[type="checkbox"] {
    display: inline-block;
    width: fit-content;
    margin-right: 0.5rem;
    transform: translate(0, 1px);
    order: -1;
}

.window select {
    width: 100%;
}

.window textarea {
    width: 100%;
    resize: vertical;
    min-height: 4rem;
    max-height: 50vh;
    white-space: pre-wrap;
}

.window-text {
    display: block;
    width: 100%;
    background-color: var(--task-container-bg-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.window-text--multiline {
    display: block;
    width: 100%;
    background-color: var(--task-container-bg-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    min-height: 4rem;
    max-height: 50vh;
    resize: vertical;
}

.hide {
    display: none;
}

.window-heading {
    display: block;
    margin-bottom: 1rem;
}

.window-row-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.window-wrapper-100 {
    display: inline-block;
    margin-bottom: 0.4rem;
    width: 100%;
}

.window-wrapper-50 {
    display: inline-block;
    margin-bottom: 0.4rem;
    width: 50%;
}

.done-button {
    float: right;
    margin: 0.8rem 0 0 0.8rem;
}

.window-button-container {
    float: right;
    display: flex;
    gap: 1rem;
}

.priority-low {
    border-left: 3px solid var(--task-priority-low);
}

.priority-medium {
    border-left: 3px solid var(--task-priority-medium);
}

.priority-high {
    border-left: 3px solid var(--task-priority-high);
}

.all-tasks-title {
    margin-bottom: 1rem;
}

/* mobile */
@media screen and (max-width: 50em) {
    .project-list-container {
        width: 0;
        animation: var(--sidebar-transition-duration) project-list-toggle-hide;
        animation-fill-mode: forwards;
    }

    .task-container {
        transition: none;
        position: absolute;
        z-index: -1;
        width: 100%;
    }
}

.task-container-max-width {
    width: 100%;
}

.project-list-hide {
    width: 0;
    animation: var(--sidebar-transition-duration) project-list-toggle-hide;
    animation-fill-mode: forwards;
}

.project-list-show {
    width: 100%;
    visibility: visible;
    animation: none;
}

@keyframes project-list-toggle-hide {
    99% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}